<ul class="clear_fix">
    <li>
        <img src="../img/xp1.png" alt="">
        <span>Xiaomi MIX 4</span>
    </li>
    <li>
        <img src="../img/xp2.png" alt="">
        <span>小米 MIX FOLD</span>
    </li>
    <li>
        <img src="../img/xp3.png" alt="">
        <span>小米11 Uitra</span>
    </li>
    <li>
        <img src="../img/xp4.png" alt="">
        <span>小米11 Pro</span>
    </li>
    <li>
        <img src="../img/xp5.png" alt="">
        <span>小米11 青春</span>
    </li>
    <li>
        <img src="../img/xp6.png" alt="">
        <span>小米 10S</span>
    </li>
</ul>
<ul class="clear_fix">
    <li>
        <img src="../img/xp1.png" alt="">
        <span>Xiaomi MIX 4</span>
    </li>
    <li>
        <img src="../img/xp2.png" alt="">
        <span>小米 MIX FOLD</span>
    </li>
    <li>
        <img src="../img/xp3.png" alt="">
        <span>小米11 Uitra</span>
    </li>
    <li>
        <img src="../img/xp4.png" alt="">
        <span>小米11 Pro</span>
    </li>
    <li>
        <img src="../img/xp5.png" alt="">
        <span>小米11 青春</span>
    </li>
    <li>
        <img src="../img/xp6.png" alt="">
        <span>小米 10S</span>
    </li>
</ul>