<div class="users-box">
    <label for="username">邮箱/手机号码/小米ID</label>
    <input type="text" id="username">
</div>
<div class="pass-box">
    <label for="password">密码</label>
    <input type="password" id='password'>
    
        <img src="../img/eyeclose.png" class="open" alt="">
        <img src="../img/eyeopen.png" class="close" alt="">
    
</div>
<div class="submit">登录</div>

<div class="forget clear_fix">
    <span class="forget-p">忘记密码？</span>
    <span class="phone-l">手机号登录</span>
</div>

<div class="other-l">
    <span>其他登陆方式</span>
    <ul class='clear_fix'>
        <li>
            <a href="#">
                <img src="../img/zhifubao.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../img/weixin.png" alt="">
            </a>

        </li>
        <li>
            <a href="#">
                <img src="../img/qq.png" alt="">
            </a>

        </li>
        <li>
            <a href="#">
                <img src="../img/weibo.png" alt="">
            </a>
        </li>
    </ul>
</div>