<div class="shadow">
  <ol class="clear_fix">
    <li class="first-list">
      <img src="../img/25.png" alt="" />
      <p>Redmi智能电视X55 2022</p>
      <span>2699元起</span>
    </li>
    <li>
      <img src="../img/25.png" alt="" />
      <p>Redmi智能电视X55 2022</p>
      <span>3499元起</span>
    </li>
    <li>
      <img src="../img/27.png" alt="" />
      <p>小米电视6 65” OLED</p>
      <span>6999元起</span>
    </li>
    <li>
      <img src="../img/28.png" alt="" />
      <p>小米电视 大师 77” OLED</p>
      <span>17999元起</span>
    </li>
    <li>
      <img src="../img/29.png" alt="" />
      <p>小米透明电视</p>
      <span>49999元起</span>
    </li>
    <li>
      <img src="../img/33.png" alt="" />
      <p>小米电视 大师 65英寸OLED</p>
      <span>8999元起</span>
    </li>
  </ol>
</div>
