<div class="shadow">
  <ol class="clear_fix">
    <li class="first-list">
      <img src="../img/5.png" alt="" />
      <p>Redmi Note 11 Pro系列</p>
      <span>1799元起</span>
    </li>
    <li>
      <img src="../img/7.png" alt="" />
      <p>Redmi Note 11 5G</p>
      <span>1199元起</span>
    </li>
    <li>
      <img src="../img/6.png" alt="" />
      <p>Redmi Note 11 4G</p>
      <span>999元起</span>
    </li>
    <li>
      <img src="../img/19.png" alt="" />
      <p>Redmi Note 10 Pro</p>
      <span>1499元起</span>
    </li>
    <li>
      <img src="../img/18.png" alt="" />
      <p>Redmi Note 10 5G</p>
      <span>1099元起</span>
    </li>
    <li>
      <img src="../img/16.png" alt="" />
      <p>K40 游戏增强版</p>
      <span>1999元起</span>
    </li>
  </ol>
</div>
