<div class="shadow">
  <ol class="clear_fix">
    <li class="first-list">
      <img src="../img/2.png" alt="" />
      <p>小米路由器AX6000</p>
      <span>599元起</span>
    </li>
    <li>
      <img src="../img/2.png" alt="" />
      <p>小米路由器AX9000</p>
      <span>1299元起</span>
    </li>
    <li>
      <img src="../img/2.png" alt="" />
      <p>Redmi路由器AC2100</p>
      <span>199元起</span>
    </li>
    <li>
      <img src="../img/2.png" alt="" />
      <p>小米路由器4A 千兆版</p>
      <span>129元起</span>
    </li>
    <li>
      <img src="../img/2.png" alt="" />
      <p>小米路由器 4C</p>
      <span>69元起</span>
    </li>
    <li>
      <img src="../img/2.png" alt="" />
      <p>查看全部<br />小米路由器</p>
    </li>
  </ol>
</div>
