<div class="shadow">
  <ol class="clear_fix">
    <li class="first-list">
      <img src="../img/44.png" alt="" />
      <p>RedmiBook Pro 14 增强版</p>
      <span>4999元起</span>
    </li>
    <li>
      <img src="../img/44.png" alt="" />
      <p>小米笔记本 Pro 14 锐龙版</p>
      <span>5499元起</span>
    </li>
    <li>
      <img src="../img/44.png" alt="" />
      <p>RedmiBook Pro 15 增强版</p>
      <span>5299元起</span>
    </li>
    <li>
      <img src="../img/44.png" alt="" />
      <p>小米笔记本Pro X 14</p>
      <span>7999元起</span>
    </li>
    <li>
      <img src="../img/44.png" alt="" />
      <p>Redmi G 2021 Intel版</p>
      <span>6499元起</span>
    </li>
    <li>
      <img src="../img/44.png" alt="" />
      <p>Redmi G 2021 AMD版</p>
      <span>7999元起</span>
    </li>
  </ol>
</div>
